.header {
  width: 100%;
  height: 100%;
  line-height: 80px;
  padding: 0 0 0 30px;
  position: relative;

  i {
    cursor: pointer;
  }
}

.right {
  float: right;
  height: 100%;
  width: 200px;
  background-image: linear-gradient(120deg, #FFFFFF 0%, #F6F6F6 100%);
  text-align: right;
  padding-right: 30px;
  line-height: 80px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    top: 19px;
  }
}

.logout {
  position: absolute;
  right: 30px;
  width: 190px;
  top: 0px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transform: translate3d(0px, 75px, 0px);
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 0 0 20px;
  height: 50px;
  background: #fff;
  line-height: 28px;
  cursor: pointer;
  color: #76838f;
  border-radius: 3px;
}

