@mixin icon ($width, $height, $list, $decorators) {
	@each $item in $list {
		&-#{$item} {
			width: $width;
			height: $height;
			background: url(~@/assets/icons/icon_#{$item}.png) center no-repeat;
      background-size: 100%;

			@if $decorators != null {
				@each $decorator in $decorators {
					&.#{$decorator} {
						background: url(~@/assets/icons/icon_#{$item}_#{$decorator}.png) center no-repeat;
            background-size: 100%;
					}
				}
			}
		}
	}
}

.icon {
	display: inline-block;
	position: relative;
	vertical-align: middle;


	// header 切换menu
	@include icon(22px, 22px, (toggle), null);
	// menu icon
	@include icon(15px, 15px, (data, ad, finance, user), null);
}
