@mixin icon ($width, $height, $list, $decorators) {
	@each $item in $list {
		&-#{$item} {
			width: $width;
			height: $height;
			background: url(~@/assets/icons/icon_#{$item}.png) center no-repeat;
      background-size: 100%;

			@if $decorators != null {
				@each $decorator in $decorators {
					&.#{$decorator} {
						background: url(~@/assets/icons/icon_#{$item}_#{$decorator}.png) center no-repeat;
            background-size: 100%;
					}
				}
			}
		}
	}
}

.icon {
	display: inline-block;
	position: relative;
	vertical-align: middle;


	// header 切换menu
	@include icon(22px, 22px, (toggle), null);
	// menu icon
	@include icon(15px, 15px, (data, ad, finance, user), null);

	// phone icon
	@include icon(10px, 10px, (qoe), null);
	@include icon(8px, 8px, (wifi), null);
	@include icon(6px, 6px, (signal), null);
	@include icon(16px, 16px, (more), null);
	@include icon(14px, 14px, (close), null);
	@include icon(40px, 40px, (red), null);

	@include icon(64px, 64px, (file), null);
}
