.ad {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 90px;
}

.nav {
  position: absolute;
  top: 0px;
  height: 60px;
  width: 100%;

  span {
    margin-right: 20px;
    font-size: 14px;
    color: #7A88A1;
    cursor: pointer;
  }

  .active {
    color: rgb(118, 117, 245);
  }
}

.body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 304px;

  .left {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .right {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 274px;
  }
}

.phoneBox {
  width: 214px;
  position: relative;

  .background {
    position: absolute;
    top: 10px;
    left: 13px;
    right: 13px;
    height: 44px;
    background: #EDEDED;
    padding: 21px 16px 0 16px;

    span {
      width: 126px;
      display: inline-block;
      font-size: 14px;
      text-align: center;
      position: relative;
      color: rgb(25, 25, 25);
      overflow: hidden;
      padding: 0 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    i {
      position: relative;
      top: -5px;
    }
  }
  
  .phone {
    display: block;
    width: 214px;
    position: relative;
    z-index: 2;
  }

  .phoneBody {
    position: absolute;
    width: 184px;
    height: 358px;
    top: 54px;
    left: 15px;
    z-index: 2;
    border-bottom-right-radius: 17px; 
    border-bottom-left-radius: 17px;
    overflow: hidden;
  }

  .bodyRoll {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 36px;
    position: relative;

    .adimg {
      display: block;
      width: 100%;
    }
  }

  .bodyRoll::-webkit-scrollbar{
    width: 0px;
    background-color: transparent;
  }
  .bodyRoll::-webkit-scrollbar-track{
      width: 0px;
      background-color: transparent;
  }

  .bodyRoll::-webkit-scrollbar-thumb {
    width: 0px;
    background-color: transparent;
  }
}

.phoneState {
  position: absolute;
  top: 11px;
  right: 23px;

  i {
    margin-left: 2px;
  }
}

.taobao {
  position: absolute;
  height: 36px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  line-height: 35px;
  color: #fff;
  font-size: 14px;
  background-color: #7571f9;
  text-align: center;
}

@keyframes swing {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

.red {
  position: absolute;
  top: 56px;
  right: 18px;
  z-index: 3;
  animation: swing 1s linear infinite;
}

.left div {
  margin-bottom: 20px;
  border-radius: 0;
  border-bottom: 1px solid #f5f5f5;
  padding-left: 0;
  color: #7A88A1;
  font-size: 14px;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.left  .adTitle {
  color: #7571f9;
}

.left div:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.del {
  float: right;
  color: #ff5e5e;
  cursor: pointer;
  margin-left: 10px;
}

.pic {
  float: right;
}

.createAd {
  .input {
    margin-bottom: 20px;
  }

  .inputs {
    margin-bottom: 20px;
  }

  .input input,
  .inputs input {
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 0;
    color: #7A88A1;
    font-size: 14px;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .input input {
    width: 100%;
  }
  .inputs input {
    width: 50%;
  }
}

.createAd .file {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5 !important;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0px;
    top: 0px;
  }
  z-index: 2;
  text-align: center;
  color: #7A88A1;
}


.createAd .btn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 50px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 14px;
  color: #fff;
  background-color: rgb(118, 117, 245);
  cursor: pointer;
  width: 100%;
}


